﻿.unutarnjiPadding{
    padding-top: 6%; 
    padding-right: 5%; 
    padding-left: 5%;
    padding-bottom: 3%;
}
.zapocniIspit{
    background-color:#6F7075;
    color: white;
    font-size:large;
    width: 10em !important;
}
.zapocniIspit:hover{
    background-color: #BD102E;
    color: white;
}
/*CJELINE*/
.buttNeKliknut{
    background-color: #6F7075;
    color: white; 
    width: 13em !important;
 }
.buttNeKliknut:hover{
    background-color: #BD102E;
    color: white;
}
/*CJELINE*/
.buttKliknut{
    background-color: #BD102E;
    color: white; 
    width: 13em !important;
}
.buttKliknut:hover{
    background-color: #BD102E;
    color: white;
}

.pozadinaZadatka{
    background-color: #e5e5e6; 
    border-radius: 1em; 
    box-shadow: 0 0 5px 1px #e5e5e6;
}

#roditelj {
  position: relative;
}
#dijete {
  position: static;
  left: 5em;
}
.ABCDbuttoni{
    font-size:larger; 
    font-weight:bold;
    width: 3em !important;
    width: 0%;
    height:0%; 
    padding-bottom: 30%; 
    padding-top: 30%; 
    border-radius: 100%; 
    overflow:hidden;  
    color: white;
    background-color: #a5a5a9; 
    background: #6F7075;
}
.ABCDbuttoniPrije:hover{
    background-color: #BD102E;
}
.ABCDtočno{
    background-color: #39ac39;
}
.ABCDkrivo{
    background-color: #BD102E;
}
.predajButton{
    font-size:larger; 
    font-weight:bold; 
    background-color: #6F7075; 
    width: 10em !important;  
    color: white;
}
.predajButton:hover{
    background-color: #BD102E;
    color:white;
}
.napomena{
    background-color: #6F7075;
    color:white;
    border-radius: 100%; 
    width:2em;
    height:2em;
}
.napomena:hover{
    background-color: #BD102E;
}

.tocanOdgovorKontejner{
    left:1em;  
    background-color:#ccffcc;
    text-align:center;
    border-radius: 1em; 
    box-shadow: 0 0 5px 1px #ccffcc;
}
.kriviOdgovorKontejner{
    left:1em;
    background-color:#ffe6e6;
    text-align:center;
    border-radius: 1em;
    box-shadow: 0 0 5px 1px #ffe6e6;
}
.tablicaTocnoGore{
    text-align:center; 
    background-color:#53c653;
}
.tablicaTocnoDolje{
    text-align:center; 
    background-color:#8cd98c;
}
.tablicaKrivoGore{
    text-align:center; 
    background-color:#ff6666;
}
.tablicaKrivoDolje{
    text-align:center; 
    background-color: #ffb3b3;
}
.daljeButton{
    background-color: #6F7075; 
    color: white; 
    width: 10em !important;
}
.daljeButton:hover{
    background-color: #BD102E;
    color:white;
}
.tablicaIspitiGore{
    background-color:#6F7075; 
    color:white;
}
.tablicaIspitiDolje{
    background-color:#d7d8da; 
}