﻿@model PostaniFerovac2.Models.ChangePasswordViewModel
@{
    ViewBag.Title = "Change Password";
}


<div class="unutarnjiPadding">

    @using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        <h2>Promjeni lozinku korisničkog računa</h2>
        <hr />
        @Html.ValidationSummary("", new { @class = "text-danger" })
        <div class="form-group">
            <!--@Html.LabelFor(m => m.OldPassword, new { @class = "col-md-2 control-label" })-->
            <strong class="col-md-2 control-label">Trenutna lozinka </strong>
            <div class="col-md-10">
                @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            <!--@Html.LabelFor(m => m.NewPassword, new { @class = "col-md-2 control-label" })-->
            <strong class="col-md-2 control-label">Nova lozinka </strong>
            <div class="col-md-10">
                @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            <!--@Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })-->
            <strong class="col-md-2 control-label">Potvrdi lozinku </strong>
            <div class="col-md-10">
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Promjeni lozinku" class="btn btn-default" />
            </div>
        </div>
    }
    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
</div>