﻿@model PostaniFerovac2.Models.Test

@{
    ViewBag.Title = "Pokreni test"; 
}

<div class="unutarnjiPadding">
    <h1 >Novi ispit</h1>
    @if (Model.predmetId == 1)
    {
        <h2>Matematika</h2>
        <p><a class="btn btn-default" href="http://dokumenti.ncvvo.hr/Ispitni_katalozi_08-09/Ispiti/mat_visa_for.pdf" target="_blank">Podsjetnik &raquo;</a></p>
    }
    else if (Model.predmetId == 2)
    {
        <h2>Fizika</h2>
        <p><a class="btn btn-default" href="http://dokumenti.ncvvo.hr/Ispitni_katalozi_12-13/Dodatci/formule_fiz.pdf" target="_blank">Podsjetnik &raquo;</a></p>
    }
    else if (Model.predmetId == 3)
    {
        <h2>Programiranje</h2>
    }
    else
    {
        <h2>Predmet još nije odabran!</h2>
    }
    @if (Model.predmetId == 3)
    {
        <p style="text-align: justify;">Ispit iz ovog predmeta može se pisati u samo jednoj varijanti od 5 pitanja.</p>
    }
    else
    {
        <p style="text-align: justify;">Podesi postavke ispita.</p>
        <p style="text-align: justify;">U ovisnosti o broju odabranih pitanja, bit će određeno vrijeme, a na tebi je samo da na čim više pitanja točno odgovoriš!</p>
    }
   
    @using (Html.BeginForm("Start", "Tests"))
    {
        @Html.AntiForgeryToken()
        <div class="form-horizontal">
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @if (Model.predmetId == 0)
            {
                <div class="form-group">
                    @Html.LabelFor(model => model.predmetId, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.predmetId, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.predmetId, "", new { @class = "text-danger" })
                    </div>
                </div>
            }
            else
            {
                @Html.Hidden("predmet", Model.predmetId)
            }
            <div class="form-group" >
            @if (Model.predmetId == 0 || Model.predmetId == 1 || Model.predmetId == 2)
            {
                <div class = "control-label col-md-2" >
                    <strong>Broj pitanja</strong>
                </div>
                <div class="col-md-2" >
                    @Html.EditorFor(model => model.brojPitanja, new { htmlAttributes = new { @class = "form-control", min = 3, max = 30 } })
                    @Html.ValidationMessageFor(model => model.brojPitanja, "", new { @class = "text-danger" })
                </div>
            }
            else
            {
                @Html.Hidden("brojPitanja", 5)
            }
            </div>
            <div class="form-group" >
                <div class="col-md-offset-2 col-md-10"  >
                    <input type="submit" value="Započni ispit!" class="btn zapocniIspit" />
                </div>
            </div>
        </div>
    }
    <div>
        @Html.ActionLink("Povratak", "Index")
    </div>
</div>
