﻿@model PostaniFerovac2.Models.Test

@{
    ViewBag.Title = "Delete";
}

<h3 style="padding-top:50px">Jeste li sigurni da želite obrisati ovaj ispit?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.Label("Broj pitanja: ")
        </dt>
        <dd>
            @Html.DisplayFor(model => model.brojPitanja)
        </dd>

        <dt>
            @Html.Label("Broj točnih odgovora: ")
        </dt>
        <dd>
            @Html.DisplayFor(model => model.tocnih)
        </dd>

        <dt>
            @Html.Label("Vrijeme ispitivanja: ")
        </dt>
        <dd>
            @Html.DisplayFor(model => model.vrijeme) sek
        </dd>

        <dt>
            @Html.Label("Broj bodova: ")
        </dt>
        <dd>
            @Html.DisplayFor(model => model.bodovi)
        </dd>
    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Obriši" class="btn btn-default" /> |
            @Html.ActionLink("Povratak", "Index")
        </div>
    }
</div>
