﻿@model Tuple<PostaniFerovac2.Models.Test, IEnumerable<PostaniFerovac2.Models.Zadatak>>

@{
    ViewBag.Title = "Detalji";
}

<h2 style="padding-top:50px">Detalji ispita</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>Korisnik</dt>
        <dd>@User.Identity.Name</dd>
        <dt>Predmet</dt>
        <dd>@ViewBag.Predmet</dd>
        <dt>Rješenost</dt>
        <dd>@Html.DisplayFor(model1 => model1.Item1.tocnih)/@Html.DisplayFor(model1 => model1.Item1.brojPitanja)</dd>       
    </dl>
    <table class="table">
        <tr>
            <th>Pitanje</th>
            <th>Tekst zadatka</th>
            <th>Odgovor</th>
            <th>Točan</th>
            <th></th>
        </tr>
        @{
            int i = 0;
            int j = 0;
            int k;
        }
        @foreach (var item in Model.Item1.testZadaci)
        {
            i = 0;
            foreach (var item2 in Model.Item2)
            {
                if (i == j)
                {
                    k = i + 1;
                    <tr>
                        <td>
                            @k.
                        </td>
                        <td>
                            @Html.DisplayFor(model => item2.tekstZadatka)
                        </td>
                        <td>
                            @Html.DisplayFor(model => item.rjesenje)
                        </td>
                        <td>
                            @Html.DisplayFor(model => item.tocnoRj)
                        </td>
                        @if (item.rjesenje != null)
                        {
                            if (item.tocnost)
                            { <td>T</td> }
                            else
                            { <td>N</td> }
                        }
                        else
                        { <td>N</td> }                       
                    </tr>
                }
                i++;
            }
            j++;
        }
    </table>
</div>
<p>
    @Html.ActionLink("Završi pregled", "Index")
</p>
