﻿@model PostaniFerovac2.Models.Test

@{
    ViewBag.Title = "Finish";
}

<style>
.btn-group {
    padding: 7px 7px 25px;
}

.form-group {
    padding: 10px 0px 10px;
}
</style>

<div class="container unutarnjiPadding">
    <h1 >Ispit je gotov, rezultati:</h1>

    @{
        int i = 0;
        int j;
        string zad;
        string bod="bodova";
    }
    @if (Model.tocnih.Equals(1) || Model.tocnih.Equals(21))
    {
        zad = "zadatak";
    }
    else if (Model.tocnih.Equals(2) || Model.tocnih.Equals(3) || Model.tocnih.Equals(4) || Model.tocnih.Equals(22) || Model.tocnih.Equals(23) || Model.tocnih.Equals(24))
    {
        zad = "zadatka";
    }
    else
    {
        zad = "zadataka";
    }
   
    <br/>
    <div class="form-group col-md-12">
        <div class="container col-md-11 pozadinaZadatka" style="left:1em">
            <div style="text-align:center;padding-top:1em; padding-bottom:1em">
                
                <h3>
                    Točno ste odgovorili na <strong>@Html.DisplayFor(modelItem => Model.tocnih)</strong> @zad
                    i pritom ostvarili <strong>@Html.DisplayFor(modelItem => Model.bodovi)</strong> @bod
                </h3>

            </div>
        </div>
    </div>

    <br />
    <br />
    <br />
    <br />


    @foreach (var item in Model.testZadaci)
    {
        j = i + 1;
        if (item.tocnost)
        {
            <div class="form-group" >
                <div class="container col-md-11 tocanOdgovorKontejner" style="text-align:left;" >
                
                <!--tekst zadatka-->
                <div class="col-md-12">
                    <div class="col-md-12" style="padding-top:1.5em">
                        <span><strong>ZADATAK @j.)</strong></span>
                        @Html.DisplayFor(model => item.zadatak.tekstZadatka)
                    </div>
                    @if (item.zadatak.tipZadatka == 3 || item.zadatak.tipZadatka == 5)
                    {
                        <div class="col-md-12" style="padding-top:1.5em; ">
                            <img src="@Html.DisplayFor(model => item.zadatak.slika)" />
                            <br />
                        </div>
                    }
                </div>

                <!--potencijalno ponudena rjesenja-->
                @if (item.zadatak.tipZadatka == 1 || item.zadatak.tipZadatka == 3) //samo string ponudena rjesenja
                {
                    <div class="col-md-12">
                        <div class="col-md-12">
                            <div class="col-md-6">
                                <p>A) @Html.DisplayFor(model => item.odgA) </p>
                            </div>
                            <div class="col-md-6">
                                <p>C) @Html.DisplayFor(model => item.odgC)</p>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="col-md-6">
                                <p>B) @Html.DisplayFor(model => item.odgB)</p>
                            </div>
                            <div class="col-md-6">
                                <p>D) @Html.DisplayFor(model => item.odgD)</p>
                            </div>
                        </div>
                    </div>

                }
                else if (item.zadatak.tipZadatka == 4) //slika za odgovor
                {
                    <div>
                        <img src="@Html.DisplayFor(model => item.zadatak.slika)" />
                    </div>
                }
                
                <div class="row col-md-11" style="padding-top:1em;">
                    <h4>
                        Bravo! @Html.DisplayFor(model => item.tocnoRj) je točan odgovor.
                    </h4>
                </div>
                @{i++;}
               
            </div>
            </div>
        }
        else
        {
          <div class="form-group" >
            <div class="container col-md-11 kriviOdgovorKontejner" style="text-align:left;">
                <!--tekst zadatka-->
                <div class="col-md-12">
                    <div class="col-md-12" style="padding-top:1.5em">
                        <span><strong>ZADATAK @j.)</strong></span>
                        @Html.DisplayFor(model => item.zadatak.tekstZadatka)
                    </div>
                    @if (item.zadatak.tipZadatka == 3 || item.zadatak.tipZadatka == 5)
                    {
                        <div class="col-md-12" style="padding-top:1.5em; ">
                            <img src="@Html.DisplayFor(model => item.zadatak.slika)" />
                            <br />
                        </div>
                    }
                </div>


                <!--potencijalno ponudena rjesenja-->
                @if (item.zadatak.tipZadatka == 1 || item.zadatak.tipZadatka == 3) //samo string ponudena rjesenja
                {
                    <div class="col-md-12">
                        <div class="col-md-12">
                            <div class="col-md-6">
                                <p>A) @Html.DisplayFor(model => item.odgA) </p>
                            </div>
                            <div class="col-md-6">
                                <p>C) @Html.DisplayFor(model => item.odgC)</p>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="col-md-6">
                                <p>B) @Html.DisplayFor(model => item.odgB)</p>
                            </div>
                            <div class="col-md-6">
                                <p>D) @Html.DisplayFor(model => item.odgD)</p>
                            </div>
                        </div>
                    </div>
                }
                else if (item.zadatak.tipZadatka == 4) //slika za odgovor
                {
                    <div>
                        <img src="@Html.DisplayFor(model => item.zadatak.slika)" />
                    </div>
                }
                
                <div class="row col-md-11" style="padding-top:1em; ">
                    <h4>
                        Točan odgovor je : @Html.DisplayFor(model => item.tocnoRj) 
                    </h4>
                    @if (item.rjesenje != null)
                    {
                        <h4>Vaš odgovor je bio : @Html.DisplayFor(modelItem => item.rjesenje)</h4>
                    }
                        
                   
                </div>
                @{i++;}
            </div>
        </div>
        }

        <div class="row" ></div>
        
        <br />
        <br />
    }
</div>
<p>
    @Html.ActionLink("Završi pregled", "Index")
</p>
