﻿@model Tuple<IEnumerable<PostaniFerovac2.Models.Test>,IEnumerable<string>>

@{
    ViewBag.Title = "Moji testovi";
}

<style>
    /* Sortable tables */
table.sortable thead {
    cursor: pointer;
}
table.sortable {
  max-width: 100%;
  background-color: transparent;
  width: 100%;
  margin-bottom: 20px;
  table-layout: fixed;
}
table.sortable thead > tr > th,
table.sortable tbody > tr > th,
table.sortable tfoot > tr > th,
table.sortable thead > tr > td,
table.sortable tbody > tr > td,
table.sortable tfoot > tr > td {
  padding: 8px;
  line-height: 1.428571429;
  vertical-align: top;
  border-top: 1px solid #dddddd;
}
table.sortable thead > tr > th {
  vertical-align: bottom;
  border-bottom: 2px solid #dddddd;
}
</style>

<head>
    <script src="http://www.kryogenix.org/code/browser/sorttable/sorttable.js"></script>
</head>

<h1 style="padding-top:50px">Ispiti korisnika <em>@User.Identity.Name</em></h1>

<br />
<dl class="dl-horizontal">
    <dt style="font-size:20px; padding-top:5px">
        @Html.Label("Novi ispit:")
    </dt>
    <dd>
        <div class="col-sm-10 row container">
            @using (Html.BeginForm("Create", "Tests", new { predmet = 1 }))
            {
                @Html.AntiForgeryToken()
                <div class="col-sm-3">
                    <button type="submit" style="font-size:17px;" class="btn daljeButton">Matematika</button>
                </div>
            }
            @using (Html.BeginForm("Create", "Tests", new { predmet = 2 }))
            {
                @Html.AntiForgeryToken()
                <div class="col-sm-3">
                    <button type="submit" style="font-size:17px" class="btn daljeButton">Fizika</button>
                </div>
            }
            @using (Html.BeginForm("Create", "Tests", new { predmet = 3 }))
            {
                @Html.AntiForgeryToken()
                <div class="col-sm-3">
                    <button type="submit" style="font-size:17px" class="btn daljeButton">Programiranje</button>
                </div>
            }
        </div>
    </dd>
</dl>

<table class="sortable" >
    <tr>
        <th style="width: 6em" class="tablicaIspitiGore">
            Broj
        </th>
        <th style="width: 15em; background-color:#6F7075; color:white;" class="sorttable_numeric">
            Datum
        </th>
        <th style="width: 10em" class="tablicaIspitiGore">
            Predmet
        </th>
        <th style="width: 10em" class="tablicaIspitiGore">
            Rješenost
        </th>
        <th style="width: 15em; background-color:#6F7075; color:white;" class="sorttable_numeric">
            Vrijeme
        </th>
        <th style="width: 9em" class="tablicaIspitiGore" title="Bodovi se računaju prema sljedećoj formuli: Postotak_rješenosti * Broj_točnih_odgovora">
            Bodovi
        </th>
        <th style="width: 12em" class="tablicaIspitiGore"></th>
    </tr> 
@{ 
    int i = 0;
    int j = 0;
    int k;
    int h;
    int min;
    int sec;
    string print;
    string datumkey;
    string day;
    string time;
    string sati;
    string vrijemekey;
    string vrijememin;
    string vrijemesec;
    string rjesenost1;
    string rjesenost2;
}
@foreach (var item in Model.Item1) {
    i = 0;
    foreach (var item2 in Model.Item2) {
        if (i == j)
        {
            k = i + 1;
            h = item.vrijeme / 3600;
            min = (item.vrijeme - (h * 3600)) / 60;
            sec = item.vrijeme % 60;
            day = item.datum.ToString().Split(' ')[0];
            time = item.datum.ToString().Split(' ')[1];
            sati = time.Split(':')[0];
            if (sati.Length == 1)
            {
                sati = "0" + sati;
            }
            if (day.Contains("."))
            {
                datumkey = day.Split('.')[0] + day.Split('.')[1] + day.Split('.')[2] + sati + time.Split(':')[1] + time.Split(':')[2];
            }
            else
            {
                datumkey = day.Split('/')[0] + day.Split('/')[1] + day.Split('/')[2] + sati + time.Split(':')[1] + time.Split(':')[2];
            }
            vrijememin = @min.ToString();
            vrijemesec = @sec.ToString();
            if (h != 0)
                print = h.ToString() + " sati " + vrijememin + " min " + vrijemesec + " sek";
            else if (h == 0 && min != 0)
                print = vrijememin + " min " + vrijemesec + " sek";
            else
                print = vrijemesec + " sek";
            if (vrijememin.Length == 1)
                vrijememin = "0" + vrijememin;
            if (vrijemesec.Length == 1)
                vrijemesec = "0" + vrijemesec;
            vrijemekey = h.ToString() + vrijememin + vrijemesec;

            rjesenost1 = item.tocnih.ToString();
            rjesenost2 = (100 - item.brojPitanja).ToString();
            if (rjesenost1.Length == 1)
                rjesenost1 = "0" + rjesenost1;
            <tr class="tablicaIspitiDolje">
                <td >
                    @k.
                </td>
                <td sorttable_customkey="@datumkey">
                    @Html.DisplayFor(model => item.datum)
                </td>
                <td>
                    @Html.DisplayFor(model => item2)
                </td>
                <td sorttable_customkey="@rjesenost1+@rjesenost2">
                    @Html.DisplayFor(model => item.tocnih)/@Html.DisplayFor(model => item.brojPitanja)
                </td>
                <td sorttable_customkey="@vrijemekey">
                    @Html.DisplayFor(model => print)
                </td>
                <td>
                    <strong>@Html.DisplayFor(model => item.bodovi)</strong>
                </td>
                <td>
                    @Html.ActionLink("Detalji", "Details", new { id = item.testId })
                    &nbsp&nbsp&nbsp
                    @Html.ActionLink("Obriši", "Delete", new { id = item.testId })
                    
                </td>
            </tr>
        }
        i++;
    }
    j++;
}
</table>