﻿@model Tuple<IEnumerable<PostaniFerovac2.Models.Test>, IEnumerable<string>, int, int>


@{
    ViewBag.Title = "Poredak";
}

<style>
    .col-sm-10 {
    width: 88%;
  }
</style>

<h1 style="padding-top:5%">Poredak</h1>

<dl class="dl-horizontal" style="padding-top:2em">
    <dt>
        @Html.Label("Filtriraj po predmetima:")
    </dt>
    <dd>
        <div class="col-md-8 row container">
            @using (Html.BeginForm("Leaderboard", "Tests", new { predmet = 0, bracket = Model.Item4 }))
            {
                if (Model.Item3 == 0)
                {
                    <div class="col-md-3">
                        <button type="submit" class="btn daljeButton" style="background-color: #BD102E">Svi predmeti</button>
                    </div>
                }
                else
                {
                    <div class="col-md-3">
                        <button type="submit" class="btn daljeButton">Svi predmeti</button>
                    </div>
                }
            }
            @using (Html.BeginForm("Leaderboard", "Tests", new { predmet = 1, bracket = Model.Item4 }))
            {
                if (Model.Item3 == 1)
                {
                    <div class="col-md-3">
                        <button type="submit" class="btn daljeButton" style="background-color: #BD102E">Matematika</button>
                    </div>
                }
                else
                {
                    <div class="col-md-3">
                        <button type="submit" class="btn daljeButton">Matematika</button>
                    </div>
                }
            }
            @using (Html.BeginForm("Leaderboard", "Tests", new { predmet = 2, bracket = Model.Item4 }))
            {
                if (Model.Item3 == 2)
                {
                    <div class="col-md-3">
                        <button type="submit" class="btn daljeButton" style="background-color: #BD102E">Fizika</button>
                    </div>
                }
                else
                {
                    <div class="col-md-3">
                        <button type="submit" class="btn daljeButton">Fizika</button>
                    </div>
                }
            }
            @using (Html.BeginForm("Leaderboard", "Tests", new { predmet = 3, bracket = Model.Item4 }))
            {
                if (Model.Item3 == 3)
                {
                    <div class="col-md-3">
                        <button type="submit" class="btn daljeButton" style="background-color: #BD102E">Programiranje</button>
                    </div>
                }
                else
                {
                    <div class="col-md-3">
                        <button type="submit" class="btn daljeButton">Programiranje</button>
                    </div>
                }
            }
        </div>
    </dd>
</dl>

<dl class="dl-horizontal">
    <dt>
        @Html.Label("Filtriraj po broju zadataka:")
    </dt>
    <dd>
        <div class="col-md-8 row container">
            @using (Html.BeginForm("Leaderboard", "Tests", new { predmet = Model.Item3, bracket = 0 }))
            {
                if (Model.Item4 == 0)
                {
                    <div class="col-md-3">
                        <button type="submit" class="btn daljeButton" style="background-color: #BD102E">ukupno</button>
                    </div>
                }
                else
                {
                    <div class="col-md-3">
                        <button type="submit" class="btn daljeButton">ukupno</button>
                    </div>
                }
            }
            @using (Html.BeginForm("Leaderboard", "Tests", new { predmet = Model.Item3, bracket = 1 }))
            {
                if (Model.Item4 == 1)
                {
                    <div class="col-md-3">
                        <button type="submit" class="btn daljeButton" style="background-color: #BD102E">manje od 10</button>
                    </div>
                }
                else
                {
                    <div class="col-md-3">
                        <button type="submit" class="btn daljeButton">manje od 10</button>
                    </div>
                }
            }
            @using (Html.BeginForm("Leaderboard", "Tests", new { predmet = Model.Item3, bracket = 2 }))
            {
                if (Model.Item4 == 2)
                {
                    <div class="col-md-3">
                        <button type="submit" class="btn daljeButton" style="background-color: #BD102E">10 do 20</button>
                    </div>
                }
                else
                {
                    <div class="col-md-3">
                        <button type="submit" class="btn daljeButton">10 do 20</button>
                    </div>
                }
            }
            @using (Html.BeginForm("Leaderboard", "Tests", new { predmet = Model.Item3, bracket = 3 }))
            {
                if (Model.Item4 == 3)
                {
                    <div class="col-md-3">
                        <button type="submit" class="btn daljeButton" style="background-color: #BD102E">više od 20</button>
                    </div>
                }
                else
                {
                    <div class="col-md-3">
                        <button type="submit" class="btn daljeButton">više od 20</button>
                    </div>
                }
            }
        </div>
    </dd>
</dl>

<br />

@if (Model.Item1.Count() == 0)
{
    <p><strong>Nisu rješavani testovi za trenutni upit.</strong></p>
}
else
{
    <table class="table">
        <tr></tr>
        <tr class="tablicaIspitiGore">
            <th>Položaj</th>
            <th>Datum</th>
            <th>Korisnik
            <th>Predmet</th>
            <th>Točnost</th>
            <th>Postotak</th>
            <th>Trajanje</th>
            <th title="Bodovi se računaju prema sljedećoj formuli: Postotak_rješenosti * Broj_točnih_odgovora" style="cursor:help">Bodovi</th>
        </tr>
        @{
            int i = 0;
            int j = 0;
            int k;
            int min;
            int sec;
            double postotak;
            int postotak2;
        }
        @foreach (var item in Model.Item1)
        {
            i = 0;
            foreach (var item2 in Model.Item2)
            {
                if (i == j)
                {
                    k = i + 1;
                    min = item.vrijeme / 60;
                    sec = item.vrijeme % 60;
                    postotak = item.tocnih;
                    postotak /= item.brojPitanja;
                    postotak2 = (int)(postotak * 100);
                    <tr class="tablicaIspitiDolje">
                        <td>
                            @k.
                        </td>
                        <td>
                            @Html.DisplayFor(model => item.datum)
                        </td>
                        <td>
                            @Html.DisplayFor(model => item.username)
                        </td>
                        <td>
                            @Html.DisplayFor(model => item2)
                        <td>
                            @Html.DisplayFor(model => item.tocnih)/@Html.DisplayFor(model => item.brojPitanja)
                        </td>
                        <td>
                            @Html.DisplayFor(model => postotak2)
                            %
                        </td>
                        <td>
                            @if (min != 0)
                            {
                                @Html.DisplayFor(model => min)
                                <h7>min</h7>
                            }
                            @Html.DisplayFor(model => sec)
                            sek
                        </td>
                        <td>
                            <strong>@Html.DisplayFor(model => item.bodovi)</strong>
                        </td>
                    </tr>
                }
                i++;
            }
            j++;
        }
    </table>
}
