﻿@model Tuple<PostaniFerovac2.Models.Test, IEnumerable<string>>

@{
    ViewBag.Title = "Start";
}

<style>
.editor-odgovor {
    padding: 15px 7px 0px;
}

.btn-group {
    padding: 7px 7px 25px;
}

.form-group {
    padding: 10px 0px 10px;

}

acronym {
    cursor: help;
}
input.radio:empty {
	margin-left: -999px;
}
input.radio:empty ~ label {
    font-size:larger; 
    font-weight:bold;
	position: relative;
	float: left;
	line-height: 2em;
    text-indent: .6em;
	cursor: pointer;
    z-index: 1;
    color: white;
}
input.radio:empty ~ label:before {
	position: absolute;
	left: -9px;
    top: -6px;
	content: '';
	width: 3em;
    height:2.7em;
    z-index: -1;
	background: #6F7075;
    border-radius: 100%;
    border-color: #cccccc;
    border-style:solid;
    border-width:medium
}
input.radio:checked ~ label:before {
	background-color: #BD102E;
    border-radius:100%;
}
</style>





<body >
    <div class="unutarnjiPadding">
        <h1>Ispit</h1>
        <br />
        <h2>Preostalo vrijeme:</h2>
        <h2 id="timedcountdown"></h2>
        <br />
        @using (Html.BeginForm("Finish", "Tests"))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)
            int i = 0;
            int j;
            int k = 0;
            int br = 0;
            string napomena;
            foreach (var item in Model.Item1.testZadaci)
            {
                br = 0;
                j = i + 1;

                <!--zadatak-->
                <div class="row col-md-12 ">
                    <div class="col-md-11 pozadinaZadatka"  style="padding-top:1.5em">
                        <!--tekst zadatka-->
                        <div class="col-md-12" style="padding-bottom:1.5em">
                            <div class="col-md-12">
                                <span><strong>Zad @j.)</strong></span>
                                @Html.DisplayFor(model => item.zadatak.tekstZadatka)
                            </div>
                            @if (item.zadatak.tipZadatka == 3 || item.zadatak.tipZadatka == 5)
                            {
                                <div class="col-md-12" style="padding-top:1.5em; ">
                                    <img src="@Html.DisplayFor(model => item.zadatak.slika)" />
                                </div>
                            }
                        </div>
                        <!--potencijalno ponudena rjesenja-->
                        @if (item.zadatak.tipZadatka == 1 || item.zadatak.tipZadatka == 3) //samo string ponudena rjesenja
                        {
                            <div class="col-md-12">
                               <div class="col-md-12">
                                   <div class="col-md-6">
                                       <p>A) @Html.DisplayFor(model => item.odgA) </p>
                                   </div>
                                   <div class="col-md-6">
                                       <p>C) @Html.DisplayFor(model => item.odgC)</p>
                                   </div>
                               </div>
                               <div class="col-md-12">
                                   <div class="col-md-6">
                                       <p>B) @Html.DisplayFor(model => item.odgB)</p>
                                   </div>
                                   <div class="col-md-6">
                                       <p>D) @Html.DisplayFor(model => item.odgD)</p>
                                   </div>
                               </div>
                           </div>
                        }
                        else if (item.zadatak.tipZadatka == 4) //slika za odgovor
                        {
                            <div class="col-md-12">
                                <div class="col-md-12" style="padding-top:1.5em; padding-bottom:1.5em ">
                                    <img src="@Html.DisplayFor(model => item.zadatak.slika)" />
                                </div>
                            </div>
                        } <!--else je zadatak za upis odogovora pa nema tog ispisa-->
                    </div>
                </div>
                 <!--odgovaranje-->
                <div class="row col-md-12 ">
                    
                        <!--buttoni za odgovoranje-->
                        @if (item.zadatak.tipZadatka == 1 || item.zadatak.tipZadatka == 3 || item.zadatak.tipZadatka == 4) //ABCD buttoni
                        {
                            <div  class="row col-md-6  " style="padding-top:1.5em; ">
                                @{k++;}
                                <div class="col-sm-3">
                                    <input type="radio" name="testZadaci[@i].rjesenje" id="@k" value="A" class="radio" />
                                    <label for="@k">A</label>
                                </div>
                                @{k++;}
                                <div class="col-sm-3">
                                    <input type="radio" name="testZadaci[@i].rjesenje" id="@k" value="B" class="radio" />
                                    <label for="@k">B</label>
                                </div>
                                @{k++;}
                                <div class="col-sm-3">
                                    <input type="radio" name="testZadaci[@i].rjesenje" id="@k" value="C" class="radio" />
                                    <label for="@k">C</label>
                                </div>
                                @{k++;}
                                <div class="col-sm-3">
                                    <input type="radio" name="testZadaci[@i].rjesenje" id="@k" value="D" class="radio" />
                                    <label for="@k">D</label>
                                </div>
                            </div>
                           
                        }
                        else //upis odgovora
                        {
                            foreach (var item2 in Model.Item2)
                            {
                                if (br == i)
                                {
                                    napomena = item2;
                                    <div class="row col-md-10">
                                        <div class="col-md-5" style="padding-top: 1.5em;">
                                            @Html.TextBox("testZadaci[" + @i + "].rjesenje", Model.Item1.testZadaci[i].rjesenje, new { @class = "form-control", @type = "text", @placeholder = "Unesi odgovor" })
                                        </div>
                                        @if (napomena != null)
                                        {
                                        <div class="col-md-1" style="padding-top: 2em;">
                                            <acronym title="@napomena" class="napomena">&nbsp?&nbsp</acronym>
                                        </div>
                                        }
                                    </div>                        
                                }
                                br++;
                            }
                        }
                        @Html.Hidden("testZadaci[" + @i + "].testZadatakId", Model.Item1.testZadaci[i].testZadatakId)
                        @Html.Hidden("testZadaci[" + @i + "].zadatakId", Model.Item1.testZadaci[i].zadatakId)
                        @Html.Hidden("testZadaci[" + @i + "].testId", Model.Item1.testId)
                        <!--bruno-->
                        @Html.Hidden("testZadaci[" + @i + "].odgA", Model.Item1.testZadaci[i].odgA)
                        @Html.Hidden("testZadaci[" + @i + "].odgB", Model.Item1.testZadaci[i].odgB)
                        @Html.Hidden("testZadaci[" + @i + "].odgC", Model.Item1.testZadaci[i].odgC)
                        @Html.Hidden("testZadaci[" + @i + "].odgD", Model.Item1.testZadaci[i].odgD)
                        @Html.Hidden("testZadaci[" + @i + "].tocnoRj", Model.Item1.testZadaci[i].tocnoRj)
                        <!--\bruno-->
                    
                </div>
                <br />
                i++;
            }
            @Html.Hidden("testId", Model.Item1.testId)
            @Html.Hidden("user", Model.Item1.user)
            @Html.Hidden("brojPitanja", Model.Item1.brojPitanja)
            @Html.Hidden("datum", Model.Item1.datum)
            <div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-20">
                        <input type="submit" value="Predaj!" class="btn predajButton" />
                    </div>
                </div>
            </div>
        }
    </div>
</body>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}


<script type="text/javascript">
    var predaj = false;
    document.onsubmit = function () {
        predaj = true;
    };
    window.addEventListener("beforeunload", function (event) {
        if (predaj) {
            alert(document.activeElement.href)
        } else {
            event.returnValue = "Write something clever here.." + document.activeElement.href;
        }
    });
</script>





