﻿@model PostaniFerovac2.Models.TestZadatak

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>TestZadatak</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.test.testId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.test.testId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.zadatak.tekstZadatka)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.zadatak.tekstZadatka)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.rjesenje)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.rjesenje)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.testZadatakId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
