﻿@model IEnumerable<PostaniFerovac2.Models.Cjelina>
@{
    ViewBag.Title = "Index";
}

<h2>Index vjezba</h2>



<p>Izaberi cjelinu: </p>
@foreach (var item in Model)
{
    
    <button type="submit" name="method" value="OdabirCjeline"
            class="btn btn-success">
        @Html.DisplayFor(modelItem => item.naziv)
    </button>

    <br />
    <br />
}