﻿@model PostaniFerovac2.Models.StatistikaDM

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>StatistikaDM</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.zadatak.tekstZadatka)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.zadatak.tekstZadatka)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.brOdgA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.brOdgA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.brOdgB)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.brOdgB)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.brOdgC)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.brOdgC)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.brOdgD)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.brOdgD)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tocanOdgovor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tocanOdgovor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.postotakRjesenosti)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.postotakRjesenosti)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.statistikaDMId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
