﻿@model IEnumerable<PostaniFerovac2.Models.Statistika>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.postotakA)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.postotakB)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.postotakC)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.postotakD)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.odgovorenoRjesenje)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.postotakRjesenosti)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.postotakA)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.postotakB)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.postotakC)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.postotakD)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.odgovorenoRjesenje)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.postotakRjesenosti)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.statistikaId }) |
            @Html.ActionLink("Details", "Details", new { id=item.statistikaId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.statistikaId })
        </td>
    </tr>
}

</table>
