﻿@model PostaniFerovac2.Models.Predmet

@{
    ViewBag.Title = "Details";
}

<h2></h2>

<div>
    <h3>Opis predmeta</h3>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.naziv)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.naziv)
        </dd>     
    </dl>

        @Html.ActionLink("Započni ispit", "Start", "Tests")

</div>
<p>
    @Html.ActionLink("Uredi", "Edit", new { id = Model.predmetId }) |
    @Html.ActionLink("Povratak", "Index")
</p>
