﻿@model Tuple<IEnumerable<PostaniFerovac2.Models.Cjelina>, PostaniFerovac2.Models.Zadatak>

@{
    ViewBag.Title = "Index";
}

<h2>Vježbanje</h2>
<br />
<div class="row">
    <div class="btn-group col-sm-3">
        @foreach (var item in Model.Item1)
        {
            <div>
                @using (Html.BeginForm(new { cjelinaId = item.cjelinaId }))
                {
                    <div>
                        <div class="col-sm-4">
                            <input type="submit" value="@Html.DisplayFor(modelItem => item.naziv)" class="btn btn-success" />

                        </div>
                    </div>

                }
            </div>
            <br />
            <br />
        }
    </div>
    <div class="container btn-group col-sm-8 myclass">
        <div>
            @if (Model.Item2 != null)
            {
                <div>
                    <div>
                        @Html.DisplayFor(model => model.Item2.tekstZadatka);
                    </div>
                    <br />
                    <div class="col-sm-6">
                        <div class="checkbox ">
                            <label><input type="radio" name="butt"> A</label>
                        </div>
                        <div class="checkbox">
                            <label><input type="radio" name="butt"> B</label>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="checkbox">
                            <label><input type="radio" name="butt"> C</label>
                        </div>
                        <div class="checkbox">
                            <label><input type="radio" name="butt"> D</label>
                        </div>
                    </div>

                </div>
            }
        </div>
    </div>

    <div>
        @using (Html.BeginForm("Statistika", "Vjezba2", new { rjesenje = "A" }))
        {
            <div>
                <div class="col-sm-4">
                    <input type="submit" value="A" class="btn btn-danger" />

                </div>
            </div>

        }
    </div>

   
    
    <div>
        @using (Html.BeginForm("Statistika", "Vjezba2", new { rjesenje = "B" }))
        {
            <div>
                <div class="col-sm-4">
                    <input type="submit" value="B" class="btn btn-danger" />

                </div>
            </div>

        }
    </div>
</div>

