﻿@model Tuple<IEnumerable<PostaniFerovac2.Models.Cjelina>, PostaniFerovac2.Models.Zadatak, int, string>

@{
    ViewBag.Title = "Index";
}

<style>
acronym {
    cursor: help;
}
</style>

<div class="container unutarnjiPadding" >
    @if (Model.Item1.First().predmetId == 1)
    {
        <h1>Vježbanje Matematike</h1>
    }
    else if (Model.Item1.First().predmetId == 2)
    {
        <h1>Vježbanje Fizike</h1>
    }
    else
    {
        <h1>Vježbanje Programiranja</h1>
    }

    <div class="row " style="padding-top:2em">
        <div id="roditelj" class="btn-group col-md-3  " >
            @foreach (var item in Model.Item1)
            {
                if (Model.Item3 == item.cjelinaId)
                {
                    <div class="col-md-12" style="padding-bottom:0.5em">
                        @using (Html.BeginForm(new { cjelinaId = item.cjelinaId }))
                        {
                            <div>
                                <div >
                                    <!--KLIKNUTA CJELINA-->
                                    <input type="submit" value="@Html.DisplayFor(modelItem => item.naziv)" class="btn buttKliknut"  />
                                </div>
                            </div>
                        }
                    </div>
                }
                else
                {
                    <div  class="col-md-12" style="padding-bottom:0.5em">
                        @using (Html.BeginForm(new { cjelinaId = item.cjelinaId }))
                        {
                            <div>
                                <div>
                                    <input type="submit" value="@Html.DisplayFor(modelItem => item.naziv)" class="btn buttNeKliknut"  />
                                </div>
                            </div>
                        }
                    </div>
                }
            }
        </div>

        <div id="dijete" class="col-md-9 " >
            @if (Model.Item2 != null)
            { 
                <!--zadatak-->
                <div class="row col-md-12 "  >
                   <div class="col-md-11 pozadinaZadatka" style="padding-bottom:1.5em">
                       <!--tekst zadatka-->
                       <div class="col-md-12" >
                           <div class="col-md-12" style="padding-top:1.5em">
                               @Html.DisplayFor(model => model.Item2.tekstZadatka)
                           </div>
                           @if (Model.Item2.tipZadatka == 3 || Model.Item2.tipZadatka == 5)
                           {
                               <div class="col-md-12" style="padding-top:1.5em">
                                   <img src="@Html.DisplayFor(model => model.Item2.slika)" />
                               </div>
                           }
                       </div>
                       <!--potencijalno ponudena rjesenja-->
                       @if (Model.Item2.tipZadatka == 1 || Model.Item2.tipZadatka == 3) //samo string ponudena rjesenja
                       {
                           <div class="col-md-12" style="padding-top:1.5em; ">
                               <div class="col-md-12">
                                   <div class="col-md-6">
                                       <p>A) @Html.DisplayFor(model => model.Item2.tekstARjesenje) </p>
                                   </div>
                                   <div class="col-md-6">
                                       <p>C) @Html.DisplayFor(model => model.Item2.tesktCRjesenje)</p>
                                   </div>
                               </div>
                               <div class="col-md-12">
                                   <div class="col-md-6">
                                       <p>B) @Html.DisplayFor(model => model.Item2.tekstBRjesenje)</p>
                                   </div>
                                   <div class="col-md-6">
                                       <p>D) @Html.DisplayFor(model => model.Item2.tesktDRjesenje)</p>
                                   </div>
                               </div>
                           </div>
                       }
                       else if (Model.Item2.tipZadatka == 4) //slika za odgovore
                       {
                           <div class="col-md-12">
                               <div class="col-md-12" style="padding-top:1.5em;">
                                   <img src="@Html.DisplayFor(model => model.Item2.slika)" />
                               </div>
                           </div>
                       } <!--else je zadatak za upis odogovora pa nema tog ispisa-->
                   </div>
                </div>
                <!--odgovaranje-->
                <div class="row col-md-12 " >
                    <!--buttoni za odgovoranje-->
                    @if (Model.Item2.tipZadatka == 1 || Model.Item2.tipZadatka == 3 || Model.Item2.tipZadatka == 4) //ABCD buttoni
                    {
                        <div class="row col-md-6  " style="padding-top:1.5em; ">
                            @using (Html.BeginForm("Statistika", "Vjezba2", new { rjesenje = "A" }))
                            {
                                <div class="col-md-3" >
                                    <div style="width: 2em;">
                                        <div >
                                            <button type="submit" value="A" name="butt" class="ABCDbuttoni ABCDbuttoniPrije">A </button>
                                        </div>
                                    </div>
                                </div>
                            }

                            @using (Html.BeginForm("Statistika", "Vjezba2", new { rjesenje = "B" }))
                            {
                                <div class="col-md-3">
                                    <div style="width: 2em;" >
                                        <div>
                                            <button type="submit" value="B" name="butt" class="ABCDbuttoni ABCDbuttoniPrije">B </button>
                                        </div>
                                    </div>
                                </div>
                            }

                            @using (Html.BeginForm("Statistika", "Vjezba2", new { rjesenje = "C" }))
                            {
                                <div class="col-md-3">
                                    <div style="width: 2em;">
                                        <div>
                                            <button type="submit" value="C" name="butt" class="ABCDbuttoni ABCDbuttoniPrije">C </button>
                                        </div>
                                    </div>
                                </div>
                            }

                            @using (Html.BeginForm("Statistika", "Vjezba2", new { rjesenje = "D" }))
                            {
                                <div class="col-md-3">
                                    <div style="width: 2em;">
                                        <div>
                                            <button type="submit" value="D" name="butt" class="ABCDbuttoni ABCDbuttoniPrije">D </button>
                                        </div>
                                    </div>
                                </div>
                            }

                        </div>
                    }
                    else //upis odogovora
                    {
                        <div class="col-md-12" >
                            @using (Html.BeginForm("Statistika", "Vjezba2"))
                            {
                                <div class="row col-md-12">
                                    <div class="col-md-5" style="padding-top: 1.5em;">
                                        <input class="form-control" id="odgovor" name="rjesenje" type="text" placeholder="Unesi odgovor">
                                    </div>
                                    @if (Model.Item2.napomena != null)
                                    {
                                    <div class="col-md-1" style="padding-top: 2em;">
                                        <acronym title="@Model.Item2.napomena" class="napomena">&nbsp?&nbsp</acronym>
                                    </div>
                                    }
                                </div>
                                <div class="col-md-5" style="padding-top:1.5em">
                                    <label><input type="submit" value="Predaj" name="butt" class="btn predajButton"> </label>
                                </div>
                            }
                        </div>
                    }
                </div>
            }

        </div>
    </div>

</div>
