﻿@model Tuple<IEnumerable<PostaniFerovac2.Models.Cjelina>, PostaniFerovac2.Models.Zadatak, int, PostaniFerovac2.Models.Statistika>

@{
    ViewBag.Title = "Statistika";
}

<div class="container unutarnjiPadding">

    @if (Model.Item1.First().predmetId == 1)
    {
        <h1>Vježbanje Matematike</h1>
    }
    else if (Model.Item1.First().predmetId == 2)
    {
        <h1>Vježbanje Fizike</h1>
    }
    else {
        <h1>Vježbanje Programiranja</h1>
    }

    <div class="row" style="padding-top:2em">
        <div id="roditelj" class="btn-group col-md-3  ">
            @foreach (var item in Model.Item1)
            {
                if (Model.Item3 == item.cjelinaId)
                {
                    <div class="col-md-12" style="padding-bottom:0.5em">
                        @using (Html.BeginForm("Index", "Vjezba2", new { cjelinaId = item.cjelinaId }))
                        {
                            <div>
                                <div >
                                    <!--KLIKNUTA CJELINA-->
                                    <input type="submit" value="@Html.DisplayFor(modelItem => item.naziv)" class="btn buttKliknut" />
                                </div>
                            </div>
                        }
                    </div>
                }
                else
                {
                    <div class="col-md-12" style="padding-bottom:0.5em">
                        @using (Html.BeginForm("Index", "Vjezba2", new { cjelinaId = item.cjelinaId }))
                    {
                            <div>
                                <div >
                                    <input type="submit" value="@Html.DisplayFor(modelItem => item.naziv)" class="btn buttNeKliknut"/>
                                </div>
                            </div>
                        }
                    </div>
                }
            }
        </div>

        <div  id="dijete" class="col-md-9 ">
            @if (Model.Item2 != null)
            {
                 <!--zadatak-->
                <div class="row col-md-12 ">
                    <div class="col-md-11 pozadinaZadatka" style="padding-bottom:1.5em">
                        <!--tekst zadatka-->
                        <div class="col-md-12">
                            <div class="col-md-12" style="padding-top:1.5em">
                                @Html.DisplayFor(model => model.Item2.tekstZadatka)
                            </div>
                            @if (Model.Item2.tipZadatka == 3 || Model.Item2.tipZadatka == 5)
                            {
                                <div class="col-md-12" style="padding-top:1.5em">
                                    <img src="@Html.DisplayFor(model => model.Item2.slika)" />
                                </div>
                            }
                        </div>
                        <!--potencijalno ponudena rjesenja-->
                        @if (Model.Item2.tipZadatka == 1 || Model.Item2.tipZadatka == 3) //samo string ponudena rjesenja
                        {
                            <div class="col-md-12" style="padding-top:1.5em; ">
                                <div class="col-md-12">
                                    <div class="col-md-6">
                                        <p>A) @Html.DisplayFor(model => model.Item2.tekstARjesenje) </p>
                                    </div>
                                    <div class="col-md-6">
                                        <p>C) @Html.DisplayFor(model => model.Item2.tesktCRjesenje)</p>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="col-md-6">
                                        <p>B) @Html.DisplayFor(model => model.Item2.tekstBRjesenje)</p>
                                    </div>
                                    <div class="col-md-6">
                                        <p>D) @Html.DisplayFor(model => model.Item2.tesktDRjesenje)</p>
                                    </div>
                                </div>
                            </div>
                        }
                        else if (Model.Item2.tipZadatka == 4) //slika za odgovore
                        {
                            <div class="col-md-12">
                                <div class="col-md-12" style="padding-top:1.5em;">
                                    <img src="@Html.DisplayFor(model => model.Item2.slika)" />
                                </div>
                            </div>
                        } <!--else je zadatak za upis odogovora pa nema tog ispisa-->
                    </div>
                </div>
                <!--odgovaranje-->
                <div class="row col-md-12 ">
                    <!--buttoni za odgovoranje-->
                    @if (Model.Item2.tipZadatka == 1 || Model.Item2.tipZadatka == 3 || Model.Item2.tipZadatka == 4) //ABCD buttoni
                    {
                    <div class="row col-md-6  " style="padding-top:1.5em; padding-bottom:1.5em">
                        @if (Model.Item2.tocnoRjesenje.Equals(Model.Item4.odgovorenoRjesenje) && Model.Item4.odgovorenoRjesenje.Equals("A"))
                        { //točan odgovor i odgovorio je A
                            <div class="col-md-3">
                                <div style="width: 2em;">
                                    <div>
                                        <button type="submit" value="A" name="butt" class="ABCDbuttoni ABCDtočno">A </button>
                                    </div>
                                </div>

                            </div>
                        }
                        else if (!Model.Item2.tocnoRjesenje.Equals(Model.Item4.odgovorenoRjesenje) && Model.Item4.odgovorenoRjesenje.Equals("A"))
                        { //krivi odgovor i odgovorio je A
                            <div class="col-md-3">
                                <div style="width: 2em;">
                                    <div>
                                        <button type="submit" value="A" name="butt" class="ABCDbuttoni ABCDkrivo">A </button>
                                    </div>
                                </div>

                            </div>
                        }
                        else if (Model.Item2.tocnoRjesenje.Equals("A") && !Model.Item4.odgovorenoRjesenje.Equals("A"))
                        { //tocan odgovor ali nije odgovorio A
                            <div class="col-md-3">
                                <div style="width: 2em;">
                                    <div>
                                        <button type="submit" value="A" name="butt" class="ABCDbuttoni ABCDtočno">A </button>
                                    </div>
                                </div>

                            </div>
                        }
                        else if (!Model.Item4.odgovorenoRjesenje.Equals("A"))
                        { //niji ni tocan ni odgovoren A
                            <div class="col-md-3">
                                <div style="width: 2em;">
                                    <div>
                                        <button type="submit" value="A" name="butt" class="ABCDbuttoni">A </button>
                                    </div>
                                </div>

                            </div>
                        }

                        @if (Model.Item2.tocnoRjesenje.Equals(Model.Item4.odgovorenoRjesenje) && Model.Item4.odgovorenoRjesenje.Equals("B"))
                        { //točan odgovor i odgovorio je B
                            <div class="col-md-3">
                                <div style="width: 2em;">
                                    <div>
                                        <button type="submit" value="B" name="butt" class="ABCDbuttoni ABCDtočno">B </button>
                                    </div>
                                </div>

                            </div>
                        }
                        else if (!Model.Item2.tocnoRjesenje.Equals(Model.Item4.odgovorenoRjesenje) && Model.Item4.odgovorenoRjesenje.Equals("B"))
                        { //krivi odgovor i odgovorio je B
                            <div class="col-md-3">
                                <div style="width: 2em;">
                                    <div>
                                        <button type="submit" value="B" name="butt" class="ABCDbuttoni ABCDkrivo">B </button>
                                    </div>
                                </div>

                            </div>
                        }
                        else if (Model.Item2.tocnoRjesenje.Equals("B") && !Model.Item4.odgovorenoRjesenje.Equals("B"))
                        { //tocan odgovor ali nije odgovorio B
                            <div class="col-md-3">
                                <div style="width: 2em;">
                                    <div>
                                        <button type="submit" value="B" name="butt" class="ABCDbuttoni ABCDtočno">B </button>
                                    </div>
                                </div>

                            </div>
                        }
                        else if (!Model.Item4.odgovorenoRjesenje.Equals("B"))
                        { //niji ni tocan ni odgovoren B
                            <div class="col-md-3">
                                <div style="width: 2em;">
                                    <div>
                                        <button type="submit" value="B" name="butt" class="ABCDbuttoni">B </button>
                                    </div>
                                </div>

                            </div>
                        }

                        @if (Model.Item2.tocnoRjesenje.Equals(Model.Item4.odgovorenoRjesenje) && Model.Item4.odgovorenoRjesenje.Equals("C"))
                        { //točan odgovor i odgovorio je C
                            <div class="col-md-3">
                                <div style="width: 2em;">
                                    <div>
                                        <button type="submit" value="C" name="butt" class="ABCDbuttoni ABCDtočno">C </button>
                                    </div>
                                </div>

                            </div>
                        }
                        else if (!Model.Item2.tocnoRjesenje.Equals(Model.Item4.odgovorenoRjesenje) && Model.Item4.odgovorenoRjesenje.Equals("C"))
                        { //krivi odgovor i odgovorio je C
                            <div class="col-md-3">
                                <div style="width: 2em;">
                                    <div>
                                        <button type="submit" value="C" name="butt" class="ABCDbuttoni ABCDkrivo">C </button>
                                    </div>
                                </div>

                            </div>
                        }
                        else if (Model.Item2.tocnoRjesenje.Equals("C") && !Model.Item4.odgovorenoRjesenje.Equals("C"))
                        { //tocan odgovor ali nije odgovorio C
                            <div class="col-md-3">
                                <div style="width: 2em;">
                                    <div>
                                        <button type="submit" value="C" name="butt" class="ABCDbuttoni ABCDtočno">C </button>
                                    </div>
                                </div>

                            </div>
                        }
                        else if (!Model.Item4.odgovorenoRjesenje.Equals("C"))
                        { //niji ni tocan ni odgovoren C
                            <div class="col-md-3">
                                <div style="width: 2em;">
                                    <div>
                                        <button type="submit" value="C" name="butt" class="ABCDbuttoni">C </button>
                                    </div>
                                </div>

                            </div>
                        }

                        @if (Model.Item2.tocnoRjesenje.Equals(Model.Item4.odgovorenoRjesenje) && Model.Item4.odgovorenoRjesenje.Equals("D"))
                        { //točan odgovor i odgovorio je D
                            <div class="col-md-3">
                                <div style="width: 2em;">
                                    <div>
                                        <button type="submit" value="D" name="butt" class="ABCDbuttoni ABCDtočno">D </button>
                                    </div>
                                </div>

                            </div>
                        }
                        else if (!Model.Item2.tocnoRjesenje.Equals(Model.Item4.odgovorenoRjesenje) && Model.Item4.odgovorenoRjesenje.Equals("D"))
                        { //krivi odgovor i odgovorio je D
                            <div class="col-md-3">
                                <div style="width: 2em;">
                                    <div>
                                        <button type="submit" value="D" name="butt" class="ABCDbuttoni ABCDkrivo" >D </button>
                                    </div>
                                </div>

                            </div>
                        }
                        else if (Model.Item2.tocnoRjesenje.Equals("D") && !Model.Item4.odgovorenoRjesenje.Equals("D"))
                        { //tocan odgovor ali nije odgovorio D
                            <div class="col-md-3">
                                <div style="width: 2em;">
                                    <div>
                                        <button type="submit" value="D" name="butt" class="ABCDbuttoni ABCDtočno">D </button>
                                    </div>
                                </div>

                            </div>
                        }
                        else if (!Model.Item4.odgovorenoRjesenje.Equals("D"))
                        { //niji ni tocan ni odgovoren D
                            <div class="col-md-3">
                                <div style="width: 2em;">
                                    <div>
                                        <button type="submit" value="D" name="butt" class="ABCDbuttoni">D </button>
                                    </div>
                                </div>

                            </div>
                        }
                    </div>
                    }
                    else //upis odogovora
                    {
                    <br />
                    }
                </div>
                <div class="row col-md-12 ">
                    @if (Model.Item4.tocan)
                    {
                        <div class="row col-md-11 tocanOdgovorKontejner" style="padding-bottom:1.5em">
                            <h3>
                                Bravo! To je točan odgovor.
                            </h3>
                            <div id="wrapper">
                                <div class="chart">
                                    <h3>Statistika</h3>
                                    @if (Model.Item2.tipZadatka == 2 || Model.Item2.tipZadatka == 5)
                                    {
                                        <table id="data-table" border="1" cellpadding="10" cellspacing="0" style="margin: 0 auto;">

                                            <thead>
                                                <tr>
                                                    <!--<td>&nbsp;</td>-->
                                                    <th scope="col" class="tablicaTocnoGore">Točno odgovoreno</th>
                                                    <th scope="col" class="tablicaTocnoGore">Prosječno vrijeme</th>
                                                    <th scope="col" class="tablicaTocnoGore">Tvoje vrijeme</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td style="text-align:center">@Html.DisplayFor(modelItem => Model.Item4.postotakRjesenosti) %</td>
                                                    @if (Model.Item4.prosjecnoVrijeme == 0)
                                                    {
                                                        <td style="text-align:center"> < 1s </td>
                                                    }
                                                    else
                                                    {
                                                        <td style="text-align:center">@Html.DisplayFor(modelItem => Model.Item4.prosjecnoVrijeme) s</td>
                                                    }
                                                    @if (Model.Item4.trenutnoVrijeme == 0)
                                                    {
                                                        <td style="text-align:center"> < 1s </td>
                                                    }
                                                    else
                                                    {
                                                        <td style="text-align:center">@Html.DisplayFor(modelItem => Model.Item4.trenutnoVrijeme) s</td>
                                                    }
                                                </tr>
                                            </tbody>
                                        </table>
                                    }
                                    else
                                    {
                                        <table id="data-table" border="1" cellpadding="10" cellspacing="0" style="margin: 0 auto;">

                                            <thead>
                                                <tr>
                                                    <!--<td>&nbsp;</td>-->
                                                    <th scope="col" colspan="4" class="tablicaTocnoGore">Odabir odgovora</th>
                                                    <th scope="col" colspan="2" class="tablicaTocnoGore">Potrebno vrijeme</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <th class="tablicaTocnoDolje">A</th>
                                                    <th class="tablicaTocnoDolje">B</th>
                                                    <th class="tablicaTocnoDolje">C</th>
                                                    <th class="tablicaTocnoDolje">D</th>
                                                    <th class="tablicaTocnoDolje">Prosječno</th>
                                                    <th class="tablicaTocnoDolje">Tvoje</th>
                                                </tr>
                                                <tr>
                                                    <td style="text-align:center; ">@Html.DisplayFor(modelItem => Model.Item4.postotakA) %</td>
                                                    <td style="text-align:center; ">@Html.DisplayFor(modelItem => Model.Item4.postotakB) %</td>
                                                    <td style="text-align:center; ">@Html.DisplayFor(modelItem => Model.Item4.postotakC) %</td>
                                                    <td style="text-align:center; ">@Html.DisplayFor(modelItem => Model.Item4.postotakD) %</td>
                                                    @if (Model.Item4.prosjecnoVrijeme == 0)
                                                    {
                                                        <td style="text-align:center"> < 1s </td>
                                                    }
                                                    else
                                                    {
                                                        <td style="text-align:center">@Html.DisplayFor(modelItem => Model.Item4.prosjecnoVrijeme) s</td>
                                                    }
                                                    @if (Model.Item4.trenutnoVrijeme == 0)
                                                    {
                                                        <td style="text-align:center"> < 1s </td>
                                                    }
                                                    else
                                                    {
                                                        <td style="text-align:center">@Html.DisplayFor(modelItem => Model.Item4.trenutnoVrijeme) s</td>
                                                    }
                                                </tr>
                                            </tbody>
                                        </table>
                                    }

                                </div>
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="row col-md-11 kriviOdgovorKontejner" style="padding-bottom:1.5em">
                            @if (Model.Item2.tipZadatka == 2 || Model.Item2.tipZadatka == 4 || Model.Item2.tipZadatka == 5)
                            {
                                <h3>
                                    Točan odgovor je: @Html.DisplayFor(modelItem => Model.Item2.tocnoRjesenje)
                                </h3>
                            }
                            else
                            {
                                if (Model.Item2.tocnoRjesenje.Equals("A"))
                                {
                                    <h3> Točan odgovor je: @Html.DisplayFor(model => model.Item2.tekstARjesenje) </h3>
                                }
                                else if (Model.Item2.tocnoRjesenje.Equals("B"))
                                {
                                    <h3> Točan odgovor je: @Html.DisplayFor(model => model.Item2.tekstBRjesenje) </h3>
                                }
                                else if (Model.Item2.tocnoRjesenje.Equals("C"))
                                {
                                    <h3> Točan odgovor je: @Html.DisplayFor(model => model.Item2.tesktCRjesenje)</h3>
                                }
                                else
                                {
                                    <h3> Točan odgovor je: @Html.DisplayFor(model => model.Item2.tesktDRjesenje) </h3>
                                }
                            }
                            <br />
                            <div id="wrapper">
                                <div class="chart">
                                    <h3>Statistika</h3>
                                    @if (Model.Item2.tipZadatka == 2 || Model.Item2.tipZadatka == 5)
                                    {
                                        <table id="data-table" border="1" cellpadding="10" cellspacing="0" style="margin: 0 auto;">

                                            <thead>
                                                <tr>
                                                    <!--<td>&nbsp;</td>-->
                                                    <th scope="col" class="tablicaKrivoGore">Točno odgovoreno</th>
                                                    <th scope="col" class="tablicaKrivoGore">Prosječno vrijeme</th>
                                                    <th scope="col" class="tablicaKrivoGore">Tvoje vrijeme</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td style="text-align:center">@Html.DisplayFor(modelItem => Model.Item4.postotakRjesenosti) %</td>
                                                    @if (Model.Item4.prosjecnoVrijeme == 0)
                                                    {
                                                        <td style="text-align:center"> < 1s </td>
                                                    }
                                                    else
                                                    {
                                                        <td style="text-align:center">@Html.DisplayFor(modelItem => Model.Item4.prosjecnoVrijeme) s</td>
                                                    }
                                                    @if (Model.Item4.trenutnoVrijeme == 0)
                                                    {
                                                        <td style="text-align:center"> < 1s </td>
                                                    }
                                                    else
                                                    {
                                                        <td style="text-align:center">@Html.DisplayFor(modelItem => Model.Item4.trenutnoVrijeme) s</td>
                                                    }
                                                </tr>
                                            </tbody>
                                        </table>
                                    }
                                    else
                                    {
                                        <table id="data-table" border="1" cellpadding="10" cellspacing="0" style="margin: 0 auto;">

                                            <thead>
                                                <tr>
                                                    <!--<td>&nbsp;</td>-->
                                                    <th scope="col" colspan="4" class="tablicaKrivoGore">Odabir odgovora</th>
                                                    <th scope="col" colspan="2" class="tablicaKrivoGore">Potrebno vrijeme</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <th class="tablicaKrivoDolje">A</th>
                                                    <th class="tablicaKrivoDolje">B</th>
                                                    <th class="tablicaKrivoDolje">C</th>
                                                    <th class="tablicaKrivoDolje">D</th>
                                                    <th class="tablicaKrivoDolje">Prosječno</th>
                                                    <th class="tablicaKrivoDolje">Tvoje</th>
                                                </tr>
                                                <tr>
                                                    <td style="text-align:center">@Html.DisplayFor(modelItem => Model.Item4.postotakA) %</td>
                                                    <td style="text-align:center">@Html.DisplayFor(modelItem => Model.Item4.postotakB) %</td>
                                                    <td style="text-align:center">@Html.DisplayFor(modelItem => Model.Item4.postotakC) %</td>
                                                    <td style="text-align:center">@Html.DisplayFor(modelItem => Model.Item4.postotakD) %</td>
                                                    @if (Model.Item4.prosjecnoVrijeme == 0)
                                                    {
                                                        <td style="text-align:center"> < 1s </td>
                                                    }
                                                    else
                                                    {
                                                        <td style="text-align:center">@Html.DisplayFor(modelItem => Model.Item4.prosjecnoVrijeme) s</td>
                                                    }
                                                    @if (Model.Item4.trenutnoVrijeme == 0)
                                                    {
                                                        <td style="text-align:center"> < 1s </td>
                                                    }
                                                    else
                                                    {
                                                        <td style="text-align:center">@Html.DisplayFor(modelItem => Model.Item4.trenutnoVrijeme) s</td>
                                                    }

                                                </tr>
                                            </tbody>
                                        </table>
                                    }
                                </div>
                            </div>
                        </div>
                    }

                    <div>
                        @using (Html.BeginForm("Index", "Vjezba2", new { cjelinaId = Model.Item3 }))
                        {
                            <div class="col-sm-2" style="margin: 0 auto;">
                                <div>
                                    <div>
                                        <br />
                                        <button type="submit" value="Dalje" class="btn daljeButton">Dalje </button>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            }
        </div>
    </div>
</div>


