﻿@{
    ViewBag.Title = "Opis";
    ViewBag.Message = "Tko smo što smo";
}
<div class="unutarnjiPadding">
    <h1 >@ViewBag.Title</h1>

    <div style="padding-top:1em">
        <h3><strong>O stranici</strong></h3>
    </div>
    <div>
            <p style="text-align: justify;">Ova stranica je edukativno-zabavnog karaktera i zamišljena je kao pomoć u učenju maturantima, prvenstveno onima koji žele upisati Fakultet elektrotehnike i računarstva. Osim same provjere znanja u svrhu uvida u spremnost za maturu, želimo svim budućim polaznicima FER-a dati mali uvod u programiranje. Cilj je produbiti predznanje ili postaviti temelje korisnicima, ovisno o njihovom dosadašnjem školovanju.</p>
        <p style="text-align: justify;">Zastupljena područja:</p>
        <ul>
            <li style="text-align: justify;">matematika (viša razina)</li>
            <li style="text-align: justify;">fizika</li>
            <li style="text-align: justify;">programiranje</li>
        </ul>
        <p style="text-align: justify;">Pitanja iz matematike i fizike su preuzeta iz provedenih državnih matura sa službene stranice Nacionalnog centra za vanjsko vrednovanje obrazovanja (NCVVO) ili su napravljena prema njima, te su jednake težine kao i zadatci s državnih matura prethodnih godina. Zadatci iz programiranja su primjeri zadataka s kojima će se budući studenti FER-a susresti na predmetima vezanim za programiranje na preddiplomskom studiju.</p>
        <p style="text-align: justify;">Oblici provjera:</p>
        <ul>
            <li style="text-align: justify;">vježba</li>
            <li style="text-align: justify;">test</li>
        </ul>
        <p style="text-align: justify;">Postoje dvije mogućnosti ispitivanja znanja. Prvi je vježba u kojem korisnik bira predmet te nakon toga i cjelinu iz koje želi pitanje. Zatim odgovara na to pitanje i dobiva verifikaciju njegovog rješenja, te uvid u statistiku točnosti za pojedini zadatak. Broj pitanja na koja odgovara je proizvoljan, te korisnik može odgovarati dok god želi.</p>
        <p style="text-align: justify;">Drugi oblik provjere je test. Ovdje korisnik sam bira predmet i broj pitanja, te ih sve ispunjava u jednom prozoru. Prilikom rješavanja testa postoji vremensko ograničenje nakon kojega se sesija zatvara. Korisnik završava test pritiskom na tipku, te odmah dobije rezultate.</p>
        <p style="text-align: justify;">Rješavanje zadataka kroz vježbe ne ulazi u korisnikovu statistiku, dok rješavanje testova ulazi. Korisnik može pregledati sve testove koje je do sada rješavao, vidi tekst zadatka, vlastiti odgovor te točan odgovor.</p>
        <p style="text-align: justify;">U poretku korisnik može sortirati najuspješnije testove prema predmetima i broju riješenih zadataka u pojedinom testu. Testovi se boduju prema broju pitanja i vremenu potrebnom za rješavanje testa.</p>
        <p style="text-align: justify;">

    </div>
    
    <div style="padding-top:1em">
        <h3><strong>O autorima</strong></h3>
    </div>
    <div>
        <p>Stranica je rezultat projekta na predmetu Programske paradigme i jezici na Fakultetu elektrotehnike i računarstva, a autori su studenti 3. godine preddiplomskog studija.</p>
    </div>

    <div style="padding-top:1em">
        <h3><strong>Odricanje od odgovornosti</strong></h3>
    </div >
    <div >
        <p>Ova stranica NIJE SLUŽBENA PRIPREMA ZA DRŽAVNU MATURU, i ne preporučuje se kao osnovni alat u učenju. PITANJA koja se koriste mogu ali i NE MORAJU TEŽINOM ODGOVARATI pitanjima koja će se pojaviti na budućim državnim maturama.</p>
        <p>Autori stranice ni na koji način NE GARANTIRAJU USPJEH NA ISPITIMA DRŽAVNE MATURE.</p>
        <p>KORISTITE STRANICU NA VLASTITU ODGOVORNOST.</p>
    </div>

</div>