﻿<!DOCTYPE html>

<style>
.dropbtn {
        background-color: #232323;
        color: darkgrey;
        padding: 16px;
        font-size: 15px;
        border: none;
        cursor: pointer;
    }
.navbar-header {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
} 
.navbar-collapse {
    padding-top: 35px;
    /*font-size: 20px;*/
}
.dropbtn {
    /*font-size: 20px;*/
}

</style>

<html>
<head >
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Postani inženjer</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>

<body>
    <div class="sideleft" style="left: 0;position: fixed; width: 10%; height: 100%;">
        <picture>
            <source media="(min-width: 950px)"
                    srcset="http://i.imgur.com/SLKhvQP.png">
            <source media="(max-width: 950px)"
                    srcset="http://i.imgur.com/j2t2nvm.png">
            <img src="http://i.imgur.com/SLKhvQP.png">
        </picture>
    </div>
    <div class="sideright" style="right:0; position: fixed; height: 100%;">
        <picture>
            <source media="(min-width: 950px)"
                    srcset="http://i.imgur.com/SLKhvQP.png">
            <source media="(max-width: 950px)"
                    srcset="http://i.imgur.com/j2t2nvm.png">
            <img src="http://i.imgur.com/SLKhvQP.png">
        </picture>
    </div>
    <div id="fb-root"></div>
    <script>
        (function(d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) return;
          js = d.createElement(s); js.id = id;
          js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.6";
          fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a href="@Url.Action("Index", "Home")">
                    <img src="http://i.imgur.com/vgzNK7r.png" />
                </a>
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!--@Html.ActionLink("Postani ferovac", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })-->
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                            @if (Request.IsAuthenticated)
                            {
                                <li >
                                    <div class="dropdown" >
                                        <button class="dropbtn" type="button" data-toggle="dropdown" style="font-size:1.5em; padding-top:0.5em">
                                            Vježba
                                            <span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu">
                                            <li>@Html.ActionLink("Matematika", "Index", "Vjezba2", new { id = 1 }, null)</li>
                                            <li>@Html.ActionLink("Fizika", "Index", "Vjezba2", new { id = 2 }, null)</li>
                                            <li>@Html.ActionLink("Programiranje", "Index", "Vjezba2", new { id = 3 }, null)</li>
                                        </ul>
                                    </div>
                                </li>
                                <li >
                                    <div class="dropdown" >
                                        <button class="dropbtn" type="button" data-toggle="dropdown" style="font-size:1.5em; padding-top:0.5em">
                                            Ispit
                                            <span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu">                                           
                                            <li>@Html.ActionLink("Matematika", "Create", "Tests", new { predmet = 1 }, null)</li>
                                            <li>@Html.ActionLink("Fizika", "Create", "Tests", new { predmet = 2 }, null)</li>
                                            <li>@Html.ActionLink("Programiranje", "Create", "Tests", new { predmet = 3 }, null)</li>
                                        </ul>
                                    </div>
                                </li>
                                <li style="font-size:1.5em; padding-top:0em">@Html.ActionLink("Moji testovi", "Index", "Tests")</li>
                                <li style="font-size:1.5em; padding-top:0em">@Html.ActionLink("Poredak", "Leaderboard", "Tests")</li>
                                <!--<li>@Html.ActionLink("Zadatci", "Index", "Zadatak")</li>
                                <li>@Html.ActionLink("Cjeline", "Index", "Cjelina")</li>-->
                            }
                            <li style="font-size:1.5em; padding-top:0em">@Html.ActionLink("Opis", "About", "Home")</li>
                            <!--<li style="font-size:1.5em; padding-top:0em">@Html.ActionLink("Kontakt", "Contact", "Home")</li>-->
                </ul>
                            @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>

    <div class="container body-content" >
        @RenderBody()
        <hr />
        <footer class="dl-horizontal" >
            <div>&copy; @DateTime.Now.Year - Postani inženjer &nbsp &nbsp &nbsp &nbsp Kontakt: ppijpro@gmail.com</div>
            <br />
            <a href="https://twitter.com/PostaniInzenjer" class="twitter-follow-button" data-show-count="false">Follow PostaniInženjer</a>
            <script>
                !function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https'; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = p + '://platform.twitter.com/widgets.js'; fjs.parentNode.insertBefore(js, fjs); } }(document, 'script', 'twitter-wjs');
            </script>
            <br />
            <div class="fb-like" data-href="https://www.facebook.com/Postani-in%C5%BEenjer-1600772880214671/" data-width="250" data-layout="button_count" data-action="like" data-show-faces="true" data-share="true"></div>
        </footer>
    </div>
    
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    
    <script>
            var dt = '@ViewBag.EndDate';
            var dateAr = dt.split('-');
            var newDate = dateAr[1] + '/' + dateAr[0] + '/' + dateAr[2];

            var end = new Date(dateAr[1] + '/' + dateAr[0] + '/' + dateAr[2]);

            var _second = 1000;
            var _minute = _second * 60;
            var _hour = _minute * 60;
            var _day = _hour * 24;
            var timer;

            function showRemaining() {

                var now = new Date();
                var off = now.getTimezoneOffset() * 60; // offset vremenskih zona (u minutama)
                var s1 = end.getTime() / 1000;
                var s2 = now.getTime() / 1000;
                var distance = s1 - (s2 + off) | 0; // preostalo vrijeme u sekundama.milisekunde
                if (distance < 0) {
                    clearInterval(timer);
                    document.getElementById('timedcountdown').innerHTML = 'Vrijeme je isteklo!';
                    predaj = true;
                    window.location.href = '/Tests/Index';
                    return;
                }
                //document.getElementById('timedcountdown').innerHTML = distance;
                var hours = (distance / 3600) | 0;
                distance %= 3600;
                var minutes = (distance / 60) | 0;
                distance %= 60;
                var seconds = distance;
                // ovaj dio ispisuje H:M:S
                if (hours == 0 && minutes == 0 && seconds == 0) {
                    document.getElementById('timedcountdown').innerHTML = 'Vrijeme za rješavanje ispita je isteklo!';
                }
                else if (hours == 0 && minutes == 0) {
                    document.getElementById('timedcountdown').innerHTML = seconds;
                }
                else if (hours == 0) {
                    document.getElementById('timedcountdown').innerHTML = minutes + ':';
                    document.getElementById('timedcountdown').innerHTML += seconds;
                }
                else {
                    document.getElementById('timedcountdown').innerHTML = hours + ':';
                    document.getElementById('timedcountdown').innerHTML += minutes + ':';
                    document.getElementById('timedcountdown').innerHTML += seconds;
                }
            }

            timer = setInterval(showRemaining, 1000);
    </script>
    
    
    
</body>
</html>
