﻿@model PostaniFerovac2.Models.Zadatak

@{
    ViewBag.Title = "Delete";
}

<h2 class="paddingUnutra">Brisanje</h2>

<h3>Jeste li sigurni da želite izbrisati zadatak?</h3>
<div>
    <h4>Zadatak</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.cjelina.naziv)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cjelina.naziv)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.statistikaDM.tocanOdgovor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.statistikaDM.tocanOdgovor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tipZadatka)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tipZadatka)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tekstZadatka)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tekstZadatka)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tekstARjesenje)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tekstARjesenje)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tekstBRjesenje)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tekstBRjesenje)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tesktCRjesenje)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tesktCRjesenje)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tesktDRjesenje)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tesktDRjesenje)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tocnoRjesenje)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tocnoRjesenje)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.slika)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.slika)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.brOdgA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.brOdgA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.brOdgB)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.brOdgB)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.brOdgC)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.brOdgC)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.brOdgD)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.brOdgD)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.brTocnih)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.brTocnih)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.brNetocnih)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.brNetocnih)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
