﻿@{
    ViewBag.Title = "Opis";
    ViewBag.Message = "Tko smo što smo";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<p> Skupina ferovaca odlučila je pomoći novim generacijama kod lakšeg prelaska iz srednje škole na faks, točnije na fer. </p>

<p>
    Na ovoj stranici možeš pronaći zadatke i generirane ispite za razna područja iz matematike, fizike i informatike.
</p>
<p>
    Matematika i fizika više su orjentirane kao priprema za maturu,
    dok je informatika na programiranje kakvo te očekuje u prvom semestru na feru.
</p>
<p>
    Postoje dva pristupa učenju:
</p>
    <ul>
        <li>tvoje vježbanje kroz rješavanje pojedinačnih zadataka gdje sam biraš cjelinu</li>
        <li>generiranjem ispita iz cjelokupnog gradiva predmeta</li>
    </ul>

<p> Na ispitu imaš određeno vrijeme dozvoljeno za rješavanje.</p>
<p> Izuzev zadataka imaš pristup i statističkim podacima, takozvani leaderbord, gdje možeš usporediti svoj uspjeh s ostalima.</p>
    
    
<p>    --jos neksi dodatni opis kak pomoc---</p>
<p>    --i ispravak mojih gramatickih/pravopisnih greski---</p>
