﻿@{
    ViewBag.Title = "Početna stranica";
}

@if (Request.IsAuthenticated)
{

<div class="jumbotron">
    <h1>Postani ferovac</h1>
    <p class="lead">Nauči nešto novo, provjeri postojeće znanje, zabavi se i postani ferovac</p>
    <p><a href="~/Home/About" class="btn btn-primary btn-lg">Kreni &raquo;</a></p>
</div>

<!--<div class="row">
    <div class="col-md-4">
        <h2>Nas projekt</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div> -->
}
else
{
    <div class="jumbotron">
        <h1>Početna stranica</h1>
        <p class="lead">Hoćeš se upisati na FER? Ne znaš gdje početi s pripremama? Na pravom si mjestu!</p>
        <p><a href = "/Home/About" class="btn btn-primary btn-lg"><i class="glyphicon glyphicon-book"></i>&nbsp;Saznaj više! &raquo;</a></p>
    </div>
}